@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChatRooms</h1>
    <p>ChatRooms is a real time Chat service. You can join or create chatrooms about topics that interest you! All messages are sent and display in real time. Previous messages can be viewed and are stored in a database.<br />Have fun chatting!</p>
    <p>Please<a asp-area="" asp-controller="Account" asp-action="Register">create an account</a> or <a asp-action="" asp-controller="Account" asp-action="Login">login</a> to continue.</p>
</div>
