@using ChatRooms.ViewModels;
@model ChatViewModel


@{
    ViewData["Title"] = "Chat";
}

<h1>@Model.ChatroomName</h1>

<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">

                <div class="card" id="chat2">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h5 class="mb-0">Chat</h5>
                        <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">
                            Let's Chat
                            App
                        </button>
                    </div>

                    

                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px; max-height: 400px; overflow-y: auto;">

                            <div class="d-flex flex-row justify-content-start">
                               
                                <div>
                                <ul id="messagesList" style="overflow-anchor: none;">
                                  
                               
                                     
                                  
                                    
                                    </ul>
                                <div id="anchor" style="overflow-anchor: auto; height: 1px;"></div>
                                   
                                </div>
                            </div>
                       
                    </div>

                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        <form method="post" id="messageForm" asp-controller="Chatrooms" asp-action="Chat">
                            <input type="hidden" id="ChatroomId" name="ChatroomId" asp-for="CreateMessage.ChatroomId" />
                            <input type="hidden" id="UserId" name="UserId" asp-for="CreateMessage.UserId" />
                            <input type="hidden" id="MsgLength" name="MsgLength" asp-for="CreateMessage.MsgLength" />
                            <input type="hidden" id="SendDate" name="SendDate" asp-for="CreateMessage.SendDate" />

                            <div class="form-group">
                                <textarea type="text" id="messageContent" name="Content" asp-for="CreateMessage.Content" class="form-control form-control-lg w-100t"
                                       placeholder="Type message" contenteditable="true"></textarea>
                                <span asp-validation-for="CreateMessage.Content" class="text-danger"></span>
                            </div>
                             <input type="button" id="sendButton" value="Send" class="btn btn-primary" />
                            <button id="boldButton">Bold</button>


                        </form>
                        <input type="hidden" id="chatroomId" value="@Model.ChatroomId" />
                        <input type="hidden" id="userId" value="@Model.UserId" />

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://cdn.tiny.cloud/1/vn4al8wrt0tehfuzhq2hhee80ufojm8bp90wb8onjk7rwjta/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/tinymceInit.js"></script>




