@using ChatRooms.ViewModels;
@model ChatViewModel


@{
    ViewData["Title"] = "Chat";
}

<h1>Chatroom X</h1>

<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">

                <div class="card" id="chat2">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h5 class="mb-0">Chat</h5>
                        <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">
                            Let's Chat
                            App
                        </button>
                    </div>



                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

                        @foreach (var message in Model.Messages)
                        {
                            <div class="d-flex flex-row justify-content-start">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                     alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">@message.Content</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted">@message.SendDate</p>
                                </div>
                            </div>

                          
                        }
                       

                       
                    </div>


                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        <form method="post" asp-action="Create">
                         
                            <input asp-for="" type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                                   placeholder="Type message">

                            <a asp-controller="Message" asp-action="Create" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Send</a>
                            <a asp-controller="Chatrooms" asp-action="Chat" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Options</a>
                        </form>
                      
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>




